<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <title>Title</title>
</head>
<body>
    <img src='/static/tripper_with_logo.png' style='width:300px'> <br> <br>
    <p style='font-size: medium; color: black'>
        안녕하세요, 여행의 설레임 <span style='color: #1f70de; font-weight: bold'>TRIPORT✈️</span>️ 입니다! <br>
        아래의 임시 비밀번호로 로그인하여 주시기 바랍니다. <br> <br>
        임시 비밀번호: tmpPwd <br> <br>
        <span style='color: #FD574A; font-weight: bold'>로그인 후, 반드시 비밀번호를 변경하여 주세요.😊</span> <br>
        이용해주셔서 감사합니다~!💙️️<br><br>
        <a href='https://triport.kr' style='font-weight: bold'>TRIPORT✈️ 바로가기!</a>
    <p>
    <br><br>
</body>
</html>